body{
    background-color: rebeccapurple;
}

div{
    background-color: rgba(255, 255, 255, 0.6);
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    margin: 20px;

    
}

header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 5px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    

}


div p{
    text-align: justify;
}

div#box1{
    width: 30%;
    float: left;
    height: 250px;
    margin-left: 120px;
    padding-left: 170px;


}

div#box2{
    width: 30%;
    float: right;
    height: 250px;
    margin-right: 120px;
    padding-right: 170px;


    
}

div#box3{
    clear: both;
}

div#box4{
    width: 35%;
    float: left;
    padding-right: 170px ;
}

div#box5{
    width: 35%;
    float: right;
    clear: both;
    padding-left: 170px ;

}

footer{
    clear: both;
    border: 5px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);

    
}

div h2{
    text-align: center;
    
}



